﻿@{
    ViewBag.Title = "Contact";
}

<center>
<address>
    Erhan Okumuş b151210080<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Market:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</center>