﻿@model Uniport.Controllers.HomeController.satis
@{
    ViewBag.Title = "ilanlar";
}


<div class="secenekpaneli w3-col" style="">
    <form style="height:100px; " methot="post" action="arama.php">
        <i>Fiyat:</i>
        <input type="text" placeholder="Min" style="width:50px; border-color:#white;  border-radius:10px; padding:3px;">
        <strong>-</strong>
        <input type="text" placeholder="Max" style="width:50px; border-color:#white;  border-radius:10px; padding:3px;">
        <yaz style="margin-left:30px;">Şuna Göre Sırala : </yaz>
        <select style="border-radius:5px;">
            <option value="volvo">Fiyat(Artan)</option>
            <option value="saab">Fiyat(Azalan)</option>
            <option value="opel">Tarih(Artan)</option>
            <option value="audi">Tarih(Azalan)</option>
            <option value="audi">Tarih(Azalan)</option>
            <option value="audi">Tarih(Azalan)</option>
        </select>

        <asda class="squaredTwo " style="margin-left: 50px; z-index:1;">
            <input type="checkbox" value="None" id="squaredTwo" name="check" />
            <label style="margin-right:6px;" for="squaredTwo"></label>
            <yaz style="font-size:13px;">&nbsp;Ücretsiz Kargo</yaz>
        </asda>

        <asda class="squaredTwo2 " style="margin-left: 40px; z-index:1; ">
            <input type="checkbox" value="None" id="squaredTwo2" name="check" />
            <label style="margin-right:6px;" for="squaredTwo2"></label>
            <yaz style="font-size:13px;">&nbsp;<b style="color:purple;"> 4.0</b> Ve Üstü Puan</yaz>
        </asda>

        <asd class="squaredTwo3 " style="margin-left: 30px; z-index:1 ;">
            <input type="checkbox" value="None" id="squaredTwo3" name="check" />
            <label style="margin-right:6px;" for="squaredTwo3"></label>
            <yaz style="font-size:13px;">&nbsp;Ücretsiz</yaz>
        </asd>
        </br>
        <center>
            <button value="submit" placeholder="ok" style="margin-right:340px;" id="filtreliarama"> OK<button />
        </center>
    </form>

</div>
<div class="col-md-10 col-lg-10 col-xs-12 row " style="margin-left:10%; z-index:1; ">
    @foreach (var item in Model.urun)
    {
        @Html.Raw("<a href='/Home/urundetay/?id="+@item.id +"'><div class='aramad w3-col' style=''>" +
    "<img class='aramaicerik' src='" + @item.url + "' alt='' style='padding-top:10px;'>" +
     "<p style='margin-left:5px;'> Ürün adı:" + @item.urunadi + "</br>Fiyatı:" + @item.fiyat +
     "</br>Satıcı Yorumu:" + @item.bilgi + " </p></div></a>");

    }
</div>



