﻿
@{
    ViewBag.Title = "ilanver";
}



@if(Session["email"]==null)
{
    <h1>Lütfen önce giriş yapınız!!</h1>
}
else
{
    <center>
<form action="/Home/ilanver" method="post" enctype="multipart/form-data">
    <input type="text" name="urunadi" placeholder="URUN ADİ" style="border-radius:20px;"/>
    <input type="text" name="bilgi" placeholder="URUN Hakkinda Bilgi" style="border-radius:20px;" />
    
    <input type="file" name="uploadfile" id="uploadfile" />
    <input type="text" name="fiyat" placeholder="Fiyat" style="border-radius:20px;" />
    <input type="submit">
    </form>
        </center>
}