﻿
@model Uniport.Controllers.HomeController.anasayfaresim
  
@{
    ViewBag.Title = "Anasayfa";

}



<div class="col-md-3 col-lg-3 col-xs-12 deger" style="position:inherit;">

    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/p1.jpg" alt=""> </a>

</div>
<div class="col-md-4 col-lg-4 col-xs-12" style="margin-left:100px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/n2.jpg" alt=""> </a>
</div>
<div class="col-md-4 col-lg-4 col-xs-12" style="margin-bottom:10px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/p1.jpg" alt=""> </a>
</div>
</br></br></br></br>
<div style="margin-top:20%;">
    @foreach (var item in Model.resim)
    {
        <div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
            <a href="/Home/urundetay/?id=@item.id" class="slaytfiyat">
                <img class="sagresim" src="@item.url" alt="">
            </a>
        </div>
    }







</div>
