﻿<form method="post" action="/Home/kaydol" align="center" style="margin-top:10%;" onSubmit="">
    <div>
        
        <h5 style="color:black;">Yeni Üyelik Başvurusu</h5>
        <input type="text" placeholder=" TelefonNo" name="tel" style="margin-top:5px; border-radius:10px; height:30px; width:230px;"></br>
        <input type="password" name="sifre" placeholder=" Sifre"style="margin-top:5px;border-radius:10px; height:30px; width:230px;"></br>
        <input type="text" name="isim" placeholder="isim"style="margin-top:5px;border-radius:10px; height:30px; width:230px;"></br>

        <input type="text" placeholder=" email" name="email" style="margin-top:5px; border-radius:10px; height:30px; width:230px;"></br>
        <input type="text" placeholder=" Adres" name="adres" style="margin-top:5px; border-radius:10px; height:30px; width:230px;"></br>
        <input type="submit" value="Kaydol" id="lbtn" style="margin-top:5px; border-radius:10px;"></br></br>

    </div>
</form>