﻿@model Uniport.Controllers.HomeController.sepet1
@{
    ViewBag.Title = "sepetim";
}




<div class="col-md-10 col-lg-10 col-xs-12 row " style="margin-left:10%; z-index:1; ">
    @foreach (var item in Model.sep )
    {
        @Html.Raw("<a href='/Home/urundetay/?id="+ @item.urunno + "' style=''><div class='aramad w3-col' style=''>" +
    "<img class='aramaicerik' src='" + @item.url + "' alt='' style='padding-top:10px;'>" +
     "<p style='margin-left:5px;'> Ürün adı:" + @item.urunadi + "</br>Fiyatı:" + @item.fiyat +
     "</br>Adet:" + @item.adet + " </p></div></a>");

    }


   </div>

