﻿@model Uniport.Controllers.HomeController.satis
@{
    ViewBag.Title = "urundetay";
}











<div class="col-md-5  col-lg-5 urunresim" style="backgorund-color:white; margin-right:10px;">



    @foreach (var item in Model.urun)
    {
        if (@item.id == Int32.Parse(Session["detay"].ToString()))
        {
            <img style="width:350px; margin-top:100px;" src="@item.url" />
            @Html.Raw("</div><div class='sagurunbilg col-md-4'" +
    "style=' background-color:rgb(239, 251, 203);margin-top:100px; margin-left:10px; border-radius:10px;'>" +
         "<strong>" + @item.urunadi + "</strong>" +
         "</br>" +
         "<b style=''>Puanı:<puan style='color:yellow;'>4.4</puan></b> &nbsp; " +
         "" +
         "</br><fiyat style='color:red; font-size:20px;'>FİYAT:<miktar style='color:orange;'> " + @item.fiyat +
         "</miktar><turu style='color:lightgreen;'>TL</turu></fiyat>");
            <form method='post' action='/Home/sepeteekle'>
                <input type='hidden' name='fiyat' value=' @item.fiyat '>
                <input type='hidden' name='url' value=' @item.url '>
                <input type='hidden' name='urunno' value=' @item.id '>
                <input type='hidden' name='urunadi' value=' @item.urunadi '>
                Adet:<input type='number' name='adet' style='width:40px; border-radius:8px;'>

                @Html.Raw("<Toplamf>Toplam Fiyat:</Toplamf><miktar style='color:orange; font-size:20px;'>" + @item.fiyat +
             "</miktar><turu style='color:lightgreen; font-size:15px;'>TL</turu>" +
             "</br>");
                <input type='Submit' placeholder='SEPETE EKLE' value="SEPETE EKLE" style='width:90px; border-radius:10px; height:35px; margin-top:10px; background-color:orange; font-size:10px; color:green;'> 
                
            </form>
            @Html.Raw("<button type = 'button' placeholder= 'asdf' style= 'width:90px;" +
                       " border-radius:10px; height:35px; margin-top:10px; margin-left:20px; " +
                       "background-color:green; font-size:12px; color:orange;' > < b > Satın Al</b></button>" +
                   " " +
                "</p>" +
           " </div>");


        }
    }
